@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", Georgia, serif;
  --font-body: "Plus Jakarta Sans", system-ui, sans-serif;

  --color-primary: #042217;
  --color-on-primary: #ffffff;
  --color-primary-container: #1b382b;
  --color-on-primary-container: #82a291;
  --color-primary-fixed: #c9ead7;
  --color-primary-fixed-dim: #adcebc;
  --color-on-primary-fixed: #022015;
  --color-on-primary-fixed-variant: #304d3f;

  --color-secondary: #3d674f;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #bcebcc;
  --color-on-secondary-container: #416b53;
  --color-secondary-fixed: #bfedce;
  --color-secondary-fixed-dim: #a3d1b3;
  --color-on-secondary-fixed: #002111;
  --color-on-secondary-fixed-variant: #254f38;

  --color-tertiary: #271c00;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #413000;
  --color-on-tertiary-container: #bc9533;
  --color-tertiary-fixed: #ffdf99;
  --color-tertiary-fixed-dim: #ecc15a;
  --color-tertiary-fixed-variant: #5a4300;
  --color-on-tertiary-fixed: #251a00;

  --color-surface: #fbf9f6;
  --color-surface-dim: #dbdad7;
  --color-surface-bright: #fbf9f6;
  --color-surface-variant: #e4e2df;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f3f0;
  --color-surface-container: #efeeeb;
  --color-surface-container-high: #eae8e5;
  --color-surface-container-highest: #e4e2df;

  --color-on-surface: #1b1c1a;
  --color-on-surface-variant: #424844;
  --color-inverse-surface: #30312f;
  --color-inverse-on-surface: #f2f0ed;
  --color-inverse-primary: #adcebc;

  --color-outline: #727974;
  --color-outline-variant: #c2c8c2;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: var(--color-surface);
    color: var(--color-on-surface);
  }
}

.font-display-hero {
  font-family: var(--font-display);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}

